body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.login-form label {
    margin-bottom: 5px;
    text-align: left; /* Alinear el texto a la izquierda */
    width: 100%; /* Hacer que el ancho del label sea del 100% */
}

.login-form input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.login-form button {
    background-color: #5c67f2;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #4a54e1;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
}

.logo h1 {
    margin: 0;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.nav-links a:first-child {
    margin-left: 0;
}

.product-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.product {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin: 10px;
    width: 200px;
}

.product h2 {
    font-size: 18px;
    color: #333;
}

.product p {
    font-size: 16px;
    color: #666;
}

.product button {
    background-color: #5c67f2;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.product button:hover {
    background-color: #4a54e1;
}

.special {
    background-color: #ffdddd;
    border: 1px solid red;
}

.special h2 {
    color: red;
}
